[features]
seeds = false
skip-lint = false

[programs.devnet]
arena_war = "ARENAWAR111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
build = "anchor build"
test = "anchor test"
deploy = "anchor deploy"
